.container {
    display: flex;
    gap: 15px;
}

.container li {
    list-style: none;
    font-size: 26px;
    border: 2px solid blue;
    border-radius: 6px;
}

.active {
    color: red;
    
}

.error {
    color: red;
    font-size: 22px;
    font-weight: bold;
}